<!-- <!DOCTYPE html>
<html lang="en" dir ="ltr">

    <head>
        <title> Random Image 😁🔥🔥</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" href="game.css">
        <script src="game.jsx"></script>
    </head>

    <body>
        <div id="container">

            <div id="inner_container">
                <img id="image_shower"/>
            </div>
                <img id="button_container1" >
                     <button onClick ="get_random_image()"><i class="fas fa-random"></i></button>
            </div>
        </div>
    </body>

</html> -->

<!-- Resources -->
<!-- Image Mapper: https://imagemap.org/ -->
<!-- Image Resizer: https://imageresizer.com/ -->

<!-- Second.html

    <!DOCTYPE html>
    <html>

        <body>
            <h2>Cool Cucumbers 🥒🥒</h2>
        </body>

    </html>
    
 -->